div {
  width: 600px;
  height: 200px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 200px;
  font-size: 100px;
}

div::after {
  animation: counter 10s linear infinite;
  content: "";
}

@keyframes counter {
  0% {
    content: "10";
  }
  10% {
    content: "9";
  }
  20% {
    content: "8";
  }
  30% {
    content: "7";
  }
  40% {
    content: "6";
  }
  50% {
    content: "5";
  }
  60% {
    content: "4";
  }
  70% {
    content: "3";
  }
  80% {
    content: "2";
  }
  90% {
    content: "1";
  }
  100% {
    content: "I love CSS :)";
  }
}
