* {
  box-sizing: border-box;
}
body {
  text-transform: uppercase;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
}
header {
  background-color: orangered;
}
header,
footer {
  padding: 0.5em;
}
article {
  background-color: deepskyblue;
}
article,
aside {
  height: 150px;
}
.left {
  background-color: green;
}
.right {
  background-color: pink;
}
footer {
  background-color: mediumpurple;
}

@media screen and (min-width: 768px) {
  section {
    display: flex;
    flex-wrap: wrap;
  }
  article {
    width: 80%;
  }
  .right {
    width: 20%;
  }
  .left {
    order: 1;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  article {
    width: 70%;
  }
  .left {
    order: -1;
    width: 15%;
  }
  .right {
    width: 15%;
  }
}
